.social-logos {
  display: none;
}

.social-logos > a {
  margin: 0.7em;
}
.social-logos > a > img {
  width: 50px;
  height: 50px;
}

.social-logos > a > img:hover {
  cursor: pointer;
  transition: 0.4s;
  transform: scale(1.2);
}
.poster {
  display: flex;
  padding: 1em 2em;
}

.poster > a > img {
  width: 50px;
  height: 50px;
}
@media only screen and (min-width: 600px) {
}

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 960px) {
  .social-logos {
    display: block;
  }

  .social-logos > a > img {
    width: 50px;
    height: 50px;
    transition: 0.4s;
  }
  .poster {
    display: flex;
    justify-content: space-between;
    padding: 1em 6em;
  }

  .poster > a > img {
    width: 50px;
    height: 50px;
  }
}
@media only screen and (min-width: 1300px) {
}
