* {
  box-sizing: border-box;
}

.UploadForm {
  background-color: white;
  padding: 4em 0;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

.UploadForm form {
  width: 90%;
  border-radius: 5px;
  padding: 1.5em;
  background-color: white;
  border-radius: 10px;
  box-shadow: 2px 2px 15px grey;
}

.UploadForm>form>input:focus {
  outline: none;
}

input {
  width: 100%;
  padding: 12px 0;
  font-size: larger;
  border: none;
  border-bottom: green solid 2px;
}

.UploadForm>form>button {
  padding: 1em 2em;
  margin: 1em 0;
  font-weight: 600;
  font-size: large;
  border: none;
  width: 100%;
  border-radius: 5px;
  transition: 0.5s;
}

.UploadForm>form>button:hover {
  border: none;
  background-color: green;
  box-shadow: 2px 2px 20px grey;
  color: white;
  transition: 0.5s;
  cursor: pointer;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
  color: green;
  font-weight: 500;
  font-size: larger;
}

@media only screen and (min-width: 600px) {
  .UploadForm {
    background-color: white;
    padding: 4em 0;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
  }

  input {
    width: 100%;
    padding: 12px 0;
    font-size: larger;
    border: none;
    border-bottom: green solid 2px;
  }
}

@media only screen and (min-width: 768px) {

  .UploadForm {
    position: absolute;
    top: 20em;
    right: 1em;
    width: 40vw;
    padding: 0;
    margin: 0;
    background-color: none;
    border-radius: 10px;
  }

  .UploadForm form {
    width: 100%;
    border-radius: 5px;
    padding: 1.5em;
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 2px 15px grey;
  }
}

@media only screen and (min-width: 960px) {
  .UploadForm {
    position: absolute;
    top: 20em;
    right: 5em;
    width: 35vw;
    padding: 0;
    margin: 0;
    background-color: none;
    border-radius: 10px;
  }

  .UploadForm form {
    width: 100%;
    border-radius: 5px;
    padding: 1.5em;
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 2px 15px grey;
  }
}

@media only screen and (min-width: 1300px) {
  .UploadForm {
    position: absolute;
    top: 20em;
    right: 6em;
    width: 30vw;
    padding: 0;
    margin: 0;
    background-color: none;
    border-radius: 10px;
  }

  .UploadForm form {
    width: 100%;
    border-radius: 5px;
    padding: 1.5em;
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 2px 15px grey;
  }
}