* {
  box-sizing: border-box;
}

.Upload {
  background-color: white;
  padding: 4em 0;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

form {
  width: 90%;
  border-radius: 5px;
  padding: 1.5em;
  background-color: white;
  border-radius: 10px;
  box-shadow: 2px 2px 15px grey;
}

input {
  width: 100%;
  padding: 12px 0;
  font-size: larger;
  border: none;
  border-bottom: green solid 2px;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
  color: green;
  font-weight: 500;
  font-size: larger;
}

input:focus {
  outline: none;
}

.Upload>form>button {
  padding: 1em 2em;
  margin: 1em 0;
  font-weight: 600;
  font-size: large;
  border: none;
  width: 100%;
  border-radius: 5px;
  transition: 0.5s;
}

.Upload>form>button:hover {
  border: none;
  background-color: green;
  box-shadow: 2px 2px 20px grey;
  color: white;
  transition: 0.5s;
  cursor: pointer;
}

@media only screen and (min-width: 600px) {
  .Upload {
    padding: 6em 0;
  }

  form {
    width: 70%;
    padding: 3em;
  }
}

@media only screen and (min-width: 768px) {
  .Upload {
    padding: 8em 0;
  }

  form {
    width: 70%;
  }

  .Upload>form>button {
    width: max-content;
    border-radius: 5px;
    transition: 0.5s;
  }
}

@media only screen and (min-width: 960px) {
  .Upload {
    padding: 8em 0;
  }

  form {
    width: 70%;
  }
}

@media only screen and (min-width: 1300px) {
  form {
    width: 70%;
  }
}