html {
scroll-behavior: smooth;  
}
.Header1 {
  display: block;
  background-image: url(./resources/open-book.jpg);
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -2;
  position: fixed;
  min-height: 100%;
  width: 100%;
  /* top: 0; */
  /* left: 0; */
}
.poster {
  display: flex;
  padding: 1em 2em;
}
.social-logos {
  display: none;
}
.social-logos > a {
  margin: 0.7em;
}
.social-logos > a > img:hover {
  cursor: pointer;
  transition: 0.4s;
  transform: scale(1.2);
}
.poster > a > img {
  width: 50px;
  height: 50px;
}
.social-logos > a > img {
  width: 50px;
  height: 50px;
}
.Navbar {
  padding: 1em;
  background-color: rgb(240, 255, 255, 0.5);
}
.desktop-Navbar {
  display: none;
}
.mobile-Navbar {
  display: block;
  transition: 0.7s;
}
.mobile-Navbar p {
  color: white;
  font-size: large;
  margin-left: 1em;
  width: fit-content;
  transition: 0.7s;
}
.mobile-Navbar p:hover {
  cursor: pointer;
  color: green;
  transition: 0.7s;
  transform: scale(1.1);
}
.mobile-Navbar > span {
  display: block;
  position: relative;
  animation: navSlider 0.7s forwards;
}
@-webkit-keyframes navSlider {
  0% {
    bottom: 50px;
    opacity: 0;
  }
  100% {
    bottom: 0px;
    opacity: 1;
  }
}
@-moz-keyframes navSlider {
  0% {
    bottom: 50px;
    opacity: 0;
  }
  100% {
    bottom: 0px;
    opacity: 1;
  }
}
@-o-keyframes navSlider {
  0% {
    bottom: 50px;
    opacity: 0;
  }
  100% {
    bottom: 0px;
    opacity: 1;
  }
}
@keyframes navSlider {
  0% {
    bottom: 50px;
    opacity: 0;
  }
  100% {
    bottom: 0px;
    opacity: 1;
  }
}
.navlist > a {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: white;
  margin: 2em;
  transition: 0.7s;
}
.navlist > a:hover {
  transition: 0.7s;
  color: green;
}
.Navbar > nav > a {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: white;
  margin: 2em;
  text-decoration: none;
  color: white;
  transition: 0.7s;
  font-size: large;
}

.Navbar > nav > a:hover {
  transition: 0.7s;
  color: green;
}
.Herotext {
  display: block;
  color: white;
  margin: 3em 1em 1em 1em;
  width: 95vw;
}
.Herotext > h1 {
  font-weight: 600;
  color: #fff;
  font-size: 40px;
  line-height: 1.2;
}
.textSpan {
  font-weight: 700;
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
  display: inline-block;
  letter-spacing: 2px;
  margin-bottom: 5px;
  position: relative;
  z-index: 0;
}
.Herotext > button {
  padding: 1em 2em;
  font-weight: 600;
  font-size: large;
  border: none;
  width: 92vw;
  border-radius: 5px;
  transition: 0.5s;
}
.Herotext > button:hover {
  border: none;
  background-color: green;
  box-shadow: 2px 2px 20px grey;
  color: white;
  transition: 0.5s;
  cursor: pointer;
}
.Benifits {
  display: flex;
  z-index: 1;
  background-color: white;
  padding: 1em;
}
.benifits-img {
  display: none;
}
.benifits-content {
  padding: 0.2em;
}
.benifits-content span {
  color: green;
  font-weight: 700;
}
.benifits-content > div {
  display: flex;
}
.benifits-content img {
  margin: 2em 0.5em;
  width: 50px;
  height: 50px;
}
.Figures {
  background: url(./resources/books-figure-section.jpg), rgba(0, 0, 0, 0.2);
  background-blend-mode: darken;
  padding: 1em;
  color: white;
}
.figuresData {
  display: flex;
  /* justify-content: center; */
  margin: 1em;
}
.figuresData img {
  margin: 1em;
}
.figuresData h1 {
  font-weight: 700;
}
.figuresData p {
  margin-top: -1em;
  font-weight: 500;
}
.Courses {
  background-color: white;
  text-align: center;
  padding: 1em 0em;
}
.Courses span {
  color: green;
  font-weight: 700;
  font-size: x-large;
  display: block;
  margin: 2em;
}
.Courses h2 {
  font-size: xxx-large;
  /* margin: 0 0em; */
}
.course-item-container {
  display: grid;
  grid-template-columns: auto;
}
.course-item-container div {
  margin: 0.3em 0.5em;
}
.course-item {
  background-color: rgb(246, 246, 246);
  padding: 3em 1em;
  border-radius: 5px;
  transition: 0.7s;
  font-size: larger;
}
.course-item:hover {
  background-color: green;
  transition: 0.7s;
  color: white;
  cursor: pointer;
}
.Testimonials {
  background-color: white;
  padding: 4em 1em;
  text-align: center;
}
.spanTestimonials {
  font-weight: 700;
  font-size: x-large;
  color: green;
}
.Testimonials h2 {
  font-size: xxx-large;
  margin: 0 0.5em;
}
.testimonials_container {
  text-align: left;
  padding: 0em;
}
.testimonials_list {
  padding: 1em 0.2em;
  margin: 1em 0em;
  border-radius: 10px;
  background-color: rgb(246, 246, 246);
}
.testimonials_list div {
  display: flex;
  padding: 1em;
}
.testimonials_list div span p {
  color: green;
}
.reviewDescription {
  margin: -0.5em 1em;
}
.Blogs {
  background-color: white;
  text-align: center;
  padding-top: 2em;
}
.Blogs h2 {
  font-size: xxx-large;
}
.blogsList {
  background-color: rgb(246, 246, 246);
  border-radius: 10px;
  margin: 1em;
  transition: 0.4s;
}
.blogsList:hover {
  transform: scale(1.009);
  transition: 0.4s;
  box-shadow: grey 2px 2px 20px;
}
.blogsContainer a {
  text-decoration: none;
  color: black;
}
.blogsList img {
  width: 100%;
  border-radius: 10px 10px 0px 0px;
}
.blogsList a h3 {
  margin: 1em;
  text-align: left;
  transition: 0.4s;
}
.blogsList a h3:hover {
  color: green;
  transition: 0.4s;
}
.blogsList a p {
  margin: 1em;
  text-align: left;
}
.blogInfo {
  display: flex;
  text-align: left;
  font-weight: 700;
  padding-bottom: 2em;
}
.Footer {
  padding: 0.5em;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
}

.footer-columns {
  margin: 0.5em 2em;
}

.footer-social-icons > a > img {
  height: 50px;
  width: 50px;
  margin: 0.5em;
}
.footerLogo {
  height: 60px;
  width: 60px;
}
.exploreLinks,
.linksCol,
.questionsCol {
  display: flex;
  flex-direction: column;
  /* padding: 0.5em; */
}

.exploreLinks > a {
  margin-top: 0.5em;
  text-decoration: none;
  color: black;
}
.linksCol > a {
  margin-top: 0.5em;
  text-decoration: none;
  color: black;
}
.questionsCol > a {
  margin-top: 0.5em;
  text-decoration: none;
  color: black;
}
.footer-social-icons > a > img:hover {
  cursor: pointer;
  transition: 0.4s;
  transform: scale(1.2);
}

/* tablets */
@media only screen and (min-width: 600px) {
  .Navbar {
    padding: 1em;
    background-color: rgb(240, 255, 255, 0.5);
    font-size: large;
  }
  .desktop-Navbar {
    display: none;
  }
  .mobile-Navbar {
    display: block;
  }
  .navlist > a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: white;
    margin: 2em;
  }
  .mobile-Navbar > nav > a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: white;
    margin: 2em;
  }

  .Navbar > nav > a {
    text-decoration: none;
    color: white;
  }
  .Herotext > button {
    width: 95vw;
  }
  .Figures {
    background: url(./resources/books-figure-section.jpg), rgba(0, 0, 0, 0.2);
    background-blend-mode: darken;
    padding: 3em;
    color: white;
  }
  /* .Figures div {
    background-color: black;
    z-index: 2;
  } */
  .figuresData {
    display: flex;
    justify-content: center;
    margin: 2em;
  }
  .Figures {
    display: grid;
    grid-template-columns: auto auto;
  }
  .course-item-container {
    display: grid;
    grid-template-columns: auto auto auto;
  }
  .course-item-container div {
    margin: 0.3em;
  }
  .course-item {
    background-color: rgb(246, 246, 246);
    padding: 1em 1em;
    border-radius: 5px;
  }
  .testimonials_container {
    display: grid;
    grid-template-columns: auto auto;
    text-align: left;
    padding: 0.5em;
  }
  .testimonials_list {
    margin: 1em;
    padding: 1em 0.2em 3em 0.2em;
  }
  .blogsContainer {
    display: grid;
    grid-template-columns: auto auto;
  }
}
@media only screen and (min-width: 768px) {
.blogsContainer {
    display: grid;
    grid-template-columns: auto auto;
    margin: .1em;
  }

}
/* desktops */
@media only screen and (min-width: 900px) {
  .Header1 {
    background-image: url(./resources/open-book.jpg);
    min-height: 100%;
    min-width: 768px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    background-position: center;
  }
  .poster {
    display: flex;
    justify-content: space-between;
    padding: 1em 6em;
  }
  .poster > a > img {
    width: 50px;
    height: 50px;
  }
  .social-logos {
    display: block;
  }

  .social-logos > a > img {
    width: 50px;
    height: 50px;
    transition: 0.4s;
  }
  .Navbar {
    background-color: rgb(240, 255, 255, 0.5);
    margin: 1em;
  }
  nav.mobile-Navbar {
    display: none;
  }
  .desktop-Navbar {
    display: flex;
    flex-direction: initial;
  }
  .Navbar > nav > a {
    margin: 1em 2em;
  }
  .Herotext > button {
    width: auto;
    padding: 1em 2em;
  }
  .Herotext {
    margin: 3em 6em;
    width: 90vw;
  }
  .Herotext > h1 {
    font-weight: 600;
    color: #fff;
    font-size: 40px;
    line-height: 1.2;
    margin-bottom: 1em;
    width: 40%;
  }
  .Herotext > p {
    font-weight: 700;
    color: rgba(255, 255, 255, 0.7);
    font-size: 14px;
    display: block;
    letter-spacing: 2px;
    margin-bottom: 3em;
    font-family: inherit;
    width: 40%;
  }

  .Benifits {
    display: flex;
    z-index: 1;
    background-color: rgb(255, 255, 255);
  }
  .benifits-img {
    background-image: url(./resources/woman.jpg);
    display: block;
    width: 90%;
    height: auto;
    z-index: 1;
    background-position: center;
  }
  .Benifits {
    display: flex;
    z-index: 1;
    background-color: white;
    padding: 1em;
  }
  .benifits-content {
    padding: 3em;
  }
  .benifits-content span {
    color: green;
    font-weight: 700;
  }
  .benifits-content > div {
    display: flex;
  }
  .benifits-content img {
    margin: 2em;
    width: 50px;
    height: 50px;
  }
  .Figures {
    background: url(./resources/books-figure-section.jpg), rgba(0, 0, 0, 0.2);
    background-blend-mode: darken;
    padding: 3em;
    color: white;
  }
  .figuresData {
    display: flex;
    justify-content: center;
    margin: 2em;
  }
  .course-item-container {
    display: grid;
    margin: 1em;
    grid-template-columns: auto auto auto auto;
  }
  .course-item-container a {
    margin: 0.5em;
  }

  .testimonials_container {
    display: grid;
    grid-template-columns: auto auto auto;
    text-align: left;
    padding: 0.5em;
  }
  .testimonials_list {
    margin: 1em;
    padding: 1em 0.2em 3em 0.2em;
  }
  .blogsContainer {
    display: grid;
    grid-template-columns: auto auto auto;
    /* margin: 1em 3em; */
  }
  .Footer {
    padding: 0.5em;
    background-color: whitesmoke;
    display: grid;
    grid-template-columns: auto auto auto;
  }
  .footer-social-icons > a > img {
    transition: 0.4s;
  }
}
